@charset "utf-8";
/* CSS Document */
/*	MAIN CONTENT	*/
table#main-content{
border-left:1px solid #cdcdcd;
}
table#main-content tr td{
border-right:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
}

/*	NAVIGATION BAR	*/
table#main-content tr#main-navbar{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-transform:uppercase;
   background: #e94589;
}
table#main-content tr#main-navbar td{
padding:0px 10px;
}
table#main-content tr#main-navbar td a{
float:right;
color:#FFFFFF;
text-decoration:none;
}
table#main-content tr#main-navbar td a:hover{
text-decoration:underline;
}

/*	NAVIGATION TITLE	*/
table#main-content tr#navbar-title{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#0f0f0f;
text-align:center;
text-transform:capitalize;
}

/*	PRODUCT ITEM	*/
table#main-content tr.product-item td, a{
font-family:arial;
font-size:11px;
color:#0085cf;
text-decoration:none;
}
table#main-content tr.product-item td.text{
padding-left:10px;
}
table#main-content tr.product-item td.sdt{
text-align:center;
padding:10px 10px;
}
table#main-content tr.product-item td.link{
text-align:center;
}
table#main-content tr.product-item td.red, a.red{
color:#FF0000;
text-decoration:none;
text-transform:capitalize;
}
table#main-content tr.product-item td a:hover{
text-decoration:underline;
}
table#main-content tr#list-num td a{
font-family:arial;
font-size:11px;
color:#0f0f0f;
padding-right:10px;
}
table#main-content tr#list-num td b a{
color:#0085cf;
}